<%- model_class = Transaction.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Movimientos" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:expedient_id) %></th>
      <th><%= model_class.human_attribute_name(:office_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:comment) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= link_to transaction.expedient_id, expedient_path(transaction.expedient) %></td>
        <td><%= transaction.office.name %></td>
        <td><%= transaction.user.username %></td>
        <td><%= transaction.state %></td>
        <td><%= transaction.comment %></td>
        <td><%= l transaction.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
